/*! HTML5 Boilerplate v7.2.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
	color: #222;
	font-size: 1em;
	line-height: 1.4;
}

/*
   * Remove text-shadow in selection highlight:
   * https://twitter.com/miketaylr/status/12228805301
   *
   * Vendor-prefixed and regular ::selection selectors cannot be combined:
   * https://stackoverflow.com/a/16982510/7133471
   *
   * Customize the background color to match your design.
   */

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

/*
   * A better looking default horizontal rule
   */

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

/*
   * Remove the gap between audio, canvas, iframes,
   * images, videos and the bottom of their containers:
   * https://github.com/h5bp/html5-boilerplate/issues/440
   */

audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}

/*
   * Remove default fieldset styles.
   */

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

/*
   * Allow only vertical resizing of textareas.
   */

textarea {
	resize: vertical;
}

/* ==========================================================================
	 Browser Upgrade Prompt
	 ========================================================================== */

.browserupgrade {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

/** ==========================================================================
	Components
========================================================================== */
/* slider */
#slider {
	width: calc(100% + 50px);
    position: relative;
    overflow: hidden;
	margin: 0 -30px;
}

#slider .slider-items {
	opacity: 0;
	height: 460px;
	overflow: hidden;
}

#slider .slider-items.slick-initialized {
	display: block;
	opacity: 1;
	height: auto;
}

#slider .slider-items div img {
	width: 100%;
	height: auto;
}

#slider .arrows_holder {
	display: inline-flex;
	width: 100%;
}

#slider .arrows_holder>div:first-child {
	display: flex;
	justify-content: flex-end;
	width: 50%;
	/* margin-right: 10px; */
	position: relative;
}

#slider .arrows_holder>div:last-child {
	width: 50%;
	position: relative;
}

#slider .arrows_holder>div:after {
	content: "";
	height: 4px;
	background-color: #E7E7E7;
	display: block;
	position: absolute;
	top: calc(50% - 2px);
	width: calc(100% - 60px);
}

#slider .arrows_holder>div:first-child:after {
	width: calc(100% - 70px);
	left: 30px;
}

#slider .arrows_holder>div:last-child:after {
	right: 20px;
}

#slider .arrows_holder .arrow {
	display: inline-flex;
	justify-content: center;
	color: #E7E7E7;
	border: 4px solid;
	border-radius: 50%;
	padding: 4px;
	font-size: 18px;
	width: 40px;
	height: 40px;
	align-items: center;
	cursor: pointer;
}

#slider .arrows_holder .arrow i {
	color: #D8D4D3
}

#slider .arrows_holder .arrow,
#slider .arrows_holder .arrow i {
	transition: color 500ms ease-in-out;
}


#slider .arrows_holder .arrow:hover,
#slider .arrows_holder .arrow:hover i {
	color: #C1D628;
}

/* end slider */
#slider .ellipse span {
	color: white;
	text-transform: uppercase;
	font-size: 30px;
	letter-spacing: 1px;
	line-height: 1.2;
}

#slider .ellipse span span {
	font-weight: bold;
	font-size: 45px;
}
.btn {
	text-align: center;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	line-height: 2;
	text-decoration: none;
	font-size: 12px;
	margin: 0 auto;
	height: 50px;
	padding-left: 35px;
	padding-right: 35px;
	border: none;
	border-radius: 50px;
	color: #ffffff;
	box-shadow: 0 2px #886D56;
	transition: all 300ms ease-in-out;
	background: rgba(193, 214, 43, 1);
	background: -moz-linear-gradient(left, rgba(193, 214, 43, 1) 0%, rgba(169, 188, 12, 1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(193, 214, 43, 1)), color-stop(100%, rgba(169, 188, 12, 1)));
	background: -webkit-linear-gradient(left, rgba(193, 214, 43, 1) 0%, rgba(169, 188, 12, 1) 100%);
	background: -o-linear-gradient(left, rgba(193, 214, 43, 1) 0%, rgba(169, 188, 12, 1) 100%);
	background: -ms-linear-gradient(left, rgba(193, 214, 43, 1) 0%, rgba(169, 188, 12, 1) 100%);
	background: linear-gradient(to right, rgba(193, 214, 43, 1) 0%, rgba(169, 188, 12, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c1d62b', endColorstr='#a9bc0c', GradientType=1);
}
.btn.btn--brown {
	background: #B59781;
	box-shadow: 0 2px #886D56;
}
.btn:hover {
	box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.6);
}
.btn.btn--brown:hover {
	background: #BDD227;
}

.socials {
	display: flex;
	justify-content: center;
	padding: 0;
	margin: 0;
}

.socials li {
	list-style: none;
	padding: 0;
	margin: 0 10px 0 0;
}

.socials li a {
	display: flex;
	justify-content: center;
	border: 3px solid #E7E7E7;
	border-radius: 50%;
	font-size: 19px;
	width: 40px;
	height: 40px;
	align-items: center;
	cursor: pointer;
	text-decoration: none;
	transition: all 0.3s ease-in;
	box-sizing: border-box;
}

.socials li a i {
	color: rgb(179, 158, 137);
	font-size: 20px;
	transition: all 0.3s ease-in;
}

.socials li a:hover {
	border-color: #BDD227;
	color: #7e4f25;
}

.socials li a:hover i {
	color: #7e4f25;
}

.input,
.textarea {
	position: relative;
	text-align: left;
	margin-bottom: 15px;
	border-bottom: 2px solid #f0f0f0;
	height: 25px;
}

.input label,
.textarea label {
	color: #805228;
	display: block;
	font-size: 14px;
	line-height: 24px;
}

.input input,
.textarea textarea {
	border: 0;
	background: transparent;
	position: absolute;
	top: 0;
	left: 0;
	padding-left: 80px;
	width: 100%;
	outline: none;
	font-size: 14px;
	line-height: 20px;
	box-sizing: border-box;
}

.textarea {
	height: 100px;
}

.textarea textarea {
	resize: none;
	padding: 20px 0 0 0;
	height: 100px;
}

.contact-form {
	position: relative;
	padding: 30px 20px;
	background: url(../img/contact-bg-m.png) no-repeat no-repeat top left;
	width: 275px;
	height: 311px;
	margin: 0 auto;
}

.contact-form .btn {
	position: relative;
	top: 5px;
	width: 160px;
}

.template {
	text-align: center;
	font-size: 20px;
	color: #4D4C4C;
	position: relative;
	border-bottom: 1px solid #D8D4D3;
	padding: 40px 0 45px;
}

.h-content {
	margin: 0 auto;
	max-width: 360px;
}

.h-content h2 {
	display: inline-block;
	font-size: 24px;
	color: rgb(78, 77, 77);
	line-height: 1;
	text-align: center;
	margin: 0 0 20px;
	/* font-weight: bold; @info не имеет смысла h1...h6 всегда bold по умолчанию */
}

.h-content h2:after {
	display: block;
	content: "";
	background-color: rgb(198, 213, 64);
	width: 40px;
	margin: 20px auto 0;
	height: 5px;
}

.h-content h2 span {
	font-weight: normal;
}

.h-content p {
	font-size: 14px;
	color: rgb(78, 77, 77);
	font-style: italic;
	line-height: 1.429;
	text-align: center;
	margin-top: 0;
}

.rectangle {
	background-color: rgb(198, 213, 64);
	margin: auto;
	width: 40px;
	height: 5px;
}

.rectangle+div {
	font-style: italic;
	font-size: 14px;
}

.collection-1 {
	display: flex;
	justify-content: space-between;
	margin: 0 -10px 20px;
	flex-wrap: wrap;
}

.collection-1 .item {
	width: 100%;
	margin: 0 10px 20px;
}

.collection-1 .item a {
	display: block;
	width: 100%;
	height: 150px;
}

.collection-1 .item img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.collection-1 .item span {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	line-height: 2;
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
	background-color: #fff;
	color: rgb(78, 77, 77);
	height: 50px;
	padding-left: 25px;
	padding-right: 25px;
	border-radius: 50px;
	width: 12vw;
	position: absolute;
	top: calc(50% - 25px);
	left: calc(50% - 85px);
	width: 170px;
	opacity: 0.8;
	transition: all 0.3s ease-in-out;
	box-sizing: border-box;
}

.collection-1 .item span:hover {
	opacity: 1;
	box-shadow: 1px 3px 3px rgb(0, 0, 0, 0.4);
	color: #ffffff;
	background: rgba(193, 214, 43, 0.9);
}

.collection-1 .item.sale span {
	color: red;
}


.without_margin {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

.with_wave {
	position: relative;
}

.with_wave:after,
.with_wave:before {
	content: "";
	background-repeat: repeat-x;
	width: 100%;
	height: 7px;
	position: absolute;
	left: 0;
}

.with_wave:after {
	bottom: 0;
	background-image: url(../img/border-curve-bottom-white.png);
	background-position: left bottom;
}

.with_wave:before {
	top: 0;
	background-image: url(../img/border-curve-top-white.png);
}

.collection-2 {
	display: flex;
	/* justify-content: space-around; */
	margin: 0 -10px 15px;
	flex-wrap: wrap;
}

.collection-2 .item {
	display: block;
	width: 100%;
	background-color: #f0f0f0;
	padding: 40px 20px;
	margin: 0 10px 20px;
	position: relative;
	text-align: left;
}

.collection-2 h2 {
	font-size: 20px;
	color: rgb(126, 79, 37);
	font-weight: bold;
	line-height: 1;
	margin-top: 15px;
	margin-bottom: 15px;
}

.collection-2 .num {
	font-size: 20px;
	color: rgb(198, 213, 64);
	font-weight: bold;
	line-height: 0.9;
}

.collection-2 p {
	font-size: 14px;
	color: rgb(78, 77, 77);
	line-height: 1.286;
}
.collection-2.slick-initialized {
	margin-bottom: 50px;
}
.collection-2.slick-initialized .item {
	margin-bottom: 10px;
	margin-left: 10px;
}

.top_wave {
	top: 0;
}

.bottom_wave {
	margin-bottom: 0px;
	bottom: 0;
}

.links {
	display: inline-block;
	font-size: 12px;
	color: rgb(126, 79, 37);
	text-transform: uppercase;
	line-height: 1.5;
	text-align: center;
	font-weight: bold;
	text-decoration: underline;
	padding-top: 0;
}
.links:hover {
	text-decoration: none;
}

.nav-mobile {
	position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #f0f0f0;
	height: calc(100vh - 60px);
	transition: opacity 0.6s cubic-bezier(0.23, 1, 0.32, 1);
	transform: translateX(-100%);
	opacity: 0;
}
.nav-mobile.open {
	transform: translateX(0);
	opacity: 1;
}
.nav-mobile nav ul {
	margin: 40px 0;
	padding: 0;
	text-align: center;
}
.nav-mobile nav li {
	color: #7e4f25;
	padding: 0;
	line-height: 50px;
	font-size: 18px;
}
.nav-mobile nav li a {
	color: #7e4f25;
	text-decoration: none;
}
.nav-mobile nav li a.active{
	color: #b39e89;
	text-decoration: underline;
	text-decoration-style: wavy;
}
.nav-mobile .socials li {
	margin: 0 10px;
}

.gray {
	background-color: #E7E7E7;
}

.trust {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	position: relative;
}
.trust>div {
	width: 100%;
}

.trust .reviews {
	max-width: 280px;
	margin: 0 auto;
}

.trust .reviews h2 {
	margin: 0 auto 10px;
	display: inline-block;
	font-size: 20px;
	color: rgb(78, 77, 77);
	font-weight: bold;
	line-height: 1;
	text-transform: none;
}

.trust .reviews h2:after {
	content: "";
	display: block;
	background-color: #E7E7E7;
	width: 40px;
	margin: 20px auto 0;
	height: 5px;
}

.trust .reviews h2 span {
	font-weight: normal;
}

 .reviews p {
	font-size: 16px;
	color: #8D4E1C;
	font-style: italic;
	line-height: 1.333;
	text-align: center;
	font-weight: normal;
	margin-top: 10px;
	margin-bottom: 20px;
}

 .reviews img {
	display: inline-flex;
	justify-content: center;
	border: 5px solid #E7E7E7;
	border-radius: 50%;
	width: 70px;
	height: 70px;
	padding: 5px;
	align-items: center;
	cursor: pointer;
	box-sizing: border-box;
}

 figcaption {
	display: block;
	font-size: 12px;
	color: #8D4E1C;
	line-height: 1.5;
	margin-top: 20px;
	font-weight: bolder;
}
.trust .reviews div {
	font-size: 12px;
	color: rgb(126, 79, 37);
	line-height: 1.5;
	font-weight: bold;
}

.trust .trustby {
	border: 5px solid #C1D628;
	position: relative;
	max-width: 450px;
	margin:0 auto 60px;
}

.trust .trustby .btn--more {
	position: absolute;
    bottom: -25px;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 90px;
}
.trust .trustby-wrap {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	padding: 0 0 25px;
}

.trust .trustby-wrap div {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50%;
	position: relative;
	height: 90px;
	padding: 20px 10px;
}
.trust .trustby-wrap div img {
	object-fit: contain;
	width: 100%;
	height: 100%;
}

.trust .trustby-wrap div:before,
.trust .trustby-wrap div:nth-child(2n+1):after {
	content: "";
	background-color: #BDD227;
	display: block;
	position: absolute;
}
.trust .trustby-wrap div:before {
	height: 1px;
	width: calc(100% - 20px);
	bottom: 0;
	left: 10px;
}
.trust .trustby-wrap div:nth-child(2n+1):after {
	height: calc(100% - 20px);
	width: 1px;
	right: 0;
	top: 10px;
}
.trust .trustby-wrap div:last-child:before,
.trust .trustby-wrap div:nth-last-child(2):not(:nth-child(even)):before {
	display: none;
}

.template__h-content {
	margin-bottom: 0 !important;
}

.template__h-content figure {
	margin-bottom: 0 !important;
}

.map {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-top: 0;
	position: relative;
}

.map .template:first-child {
	display: none;
}

.map .template:last-child {
	width: 100%;
}

.map h2 {
	font-size: 24px;
	color: rgb(78, 77, 77);
	font-weight: bold;
	line-height: 1;
}

.map .map_holder a {
	position: absolute;
	display: block;
	border-radius: 50%;
	width: 6px;
	height: 6px;
	background: #8D4E1C;
	box-shadow: 0px 0px 0px #8D4E1C;
}

.map .map_holder a:hover::after {
	content: attr(data-title);
	/* Выводим текст */
	position: absolute;
	display: block;
	left: 15px;
	width: 241px;
	height: 41px;
	z-index: 1;
	/* Отображаем подсказку поверх других элементов */
	background: #AD8D76;
	font-family: "Lato", sans-serif;
	padding: 12px 10px;
	border-radius: 5px;
	font-size: 14px;
	color: rgb(255, 255, 255);
	font-weight: bold;
	line-height: 1.286;
	text-align: center;
}

.map_holder>a:hover {
	box-shadow: 0px 0px 3px 1.5px #8D4E1C;
}

.map_holder {
	margin-top: 40px !important;
}

#link1 {
	margin-top: 140px;
	margin-left: 1px;
}

#link2 {
	margin-top: 66px;
	margin-left: 123px;
}

#link3 {
	margin-top: 31px;
	margin-left: 209px;
}

#link4 {
	margin-top: 73px;
	margin-left: 194px;
}

#link5 {
	margin-top: 90px;
	margin-left: 175px;
}

#link6 {
	margin-top: 116px;
	margin-left: 165px;
}

#link7 {
	margin-top: 224px;
	margin-left: 189px;
}

#link8 {
	margin-top: 107px;
	margin-left: 296px;
}

#link9 {
	margin-top: 96px;
	margin-left: 336px;
}

#link10 {
	margin-top: 272px;
	margin-left: 286px;
}

.contact_info {
	margin-bottom: 10px;
	font-size: 14px;
	line-height: 2;
	color: #4e4d4d;
}

.contact_info b {
	color: #7e4f25;
}

.contact_info a {
	color: #4e4d4d;
	line-height: 2;
	text-decoration: none;
}

.contact_info a:hover {
	text-decoration: underline;
}

.contact_info>span {
	display: block;
	margin-bottom: 8px;
}

.contact_info span:first-child {
	margin-bottom: 0;
}

.contact_info+a {
	color: #7e4f25;
	text-transform: uppercase;
	font-size: 10px;
	line-height: 36px;
	text-decoration: underline;
}

.contact_info+a:hover {
	text-decoration: none;
}

.logo_holder+div {
	display: inline-flex;
	justify-content: space-between;
	width: 190px;
	margin-right: 45px;
}
.top-list {
	padding: 0 0 0 0;
	margin-top: 60px; 
	margin-bottom:15px;
	list-style:none;
	border-radius:4px;
}

.top-list > li {
	display:inline-block
}

.top-list > .active {
	color:#777
}

.top-list li a {
	font-size: 13px;
	font-family: "Lato";
	color: rgb(140, 140, 140);
}

.top-list .next {
	margin: 1px 5px 0 5px;
	color: rgb(140, 140, 140);
}

.page_order {
	padding-left: 31px;
}

main {
	width: 100%;
	border-bottom: 1px solid #D8D4D3;
	padding-bottom: 10px;
}

main h1 {
	font-size: 30px;
	font-family: "Lato";
	color: rgb(78, 77, 77);
    margin: 0 0 40px;
    position: relative;
}
main h1:after {
    content: "";
    display: block;
    background-color: rgb(230, 230, 230);
    height: 5px;
    margin-top: 30px;
}
main h1 span {
	font-weight: normal;
}

.block-1 {
	background-color: #F0F0F0;
	width: 100%;
	font-size: 14px;
	color: rgb(78, 77, 77);
	padding: 0 0 60px 25px;
	margin-top: 40px;
	margin-bottom: 60px;
}

.block-1 h2 {
	font-size: 24px;
	padding-top: 55px;
	text-transform: none;
	font-family: "Lato", sans-serif !important;
	font-weight: bold;
}

.block-1 h2:after {
	display: block;
	content: "";
	background-color: rgb(198, 213, 64);
	margin-top: 15px;
	margin-bottom: 25px;
	width: 40px;
	height: 5px;
}

.block-1 ul {
	padding-left: 15px;
}

.block-1 ul li {
	line-height: 2.143;
}

.block-1 p {
	margin-bottom: 5px;
}

.block-1 h3 {
	font-size: 14px;
	color: rgb(78, 77, 77);
	margin-top: 20px;
	margin-bottom: 10px;
	font-weight: bold;
}

.block-1 a {
	color: rgb(78, 77, 77);
	border-bottom: 1px solid rgb(78, 77, 77);
	text-decoration: none;
}

.block-1 a:hover {
	border-bottom: #F0F0F0;
}

.block-2 {
	width: 100%;
	padding-bottom: 25px;
	font-size: 14px;
	/* border-bottom: 1px solid #D8D4D3; */
}

.block-2 p {
	line-height: 1.571;

}

.block-2 h3 {
	font-size: 14px;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 15px;
}

 .block-2 .collection-2 {
	margin-top: 35px;
} 

.block-3 {
	display: grid;
	width: 100%;
	grid-template-columns: 25% 25% 25% 25%;
	grid-template-rows: 125px 125px 125px 125px 125px 125px 125px;
	text-align: center;
	padding-left: 15px;
	padding-right: 15px;
	position: relative;
}

.block-3 .item {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.block-3 .item:after {
	content: "";
	height: 80%;
	background-color: #BDD227;
	display: block;
	position: absolute;
	width: 1px;
	right: 0.0001%;
}

.block-3 .item::before {
	content: "";
	height: 1px;
	background-color: #BDD227;
	display: block;
	position: absolute;
	width: 90%;
	top: 0.0001%;
}

.block-3 .item img {
	width: 90%;
}

.block-3 .item:nth-child(1):before {
	display: none;
}

.block-3 .item:nth-child(2):before {
	display: none;
}

.block-3 .item:nth-child(3):before {
	display: none;
}

.block-3 .item:nth-child(4):before {
	display: none;
}

.block-3 .item:nth-child(4n):after {
	display: none;
}

.block-3+.template .h-content {
	margin-top: 60px !important;
	margin-bottom: 40px !important;
}

.block-3+.template .h-content h2 {
	margin-bottom: 5px;
}

.rectangle_without_bottom {
	margin-bottom: 0 !important;
}

.search button {
	position: absolute;
	padding: 4px;
	right: 1px;
	top: 1px;
	background: transparent;
}

.pointer {
	display: block;
	height: 136px;
	width: 111px;
	background: url(../img/pointer.png) no-repeat;
	padding: 14px 0 0 15px;
}

.pointer img {
	width: 81px !important;
	height: 81px !important;
}

.sepcontainer {
	margin: 10px 0 10px;
	text-align: center;
}

.sepcontainer img {
	margin: 0 3px;
}

.sepline {
	border-bottom: 1px solid #d6d3d2;
	margin: 15px 15px;
	clear: both;
}

.seplinedouble {
	border-bottom: 4px double #d6d3d2;
	margin: 0 15px 20px 15px;
	clear: both;
}

.seplinedotted {
	border-bottom: 2px dotted #d6d3d2;
	margin: 0 15px 20px 15px;
	clear: both;
}

section.promo {
	border: 1px solid #d6d3d2;
	-webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.11);
	-moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.11);
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.11);
	margin: 30px 0;
	padding: 20px 20px 10px 20px;
}

section.promo .promo {
	border-bottom: 1px solid #d6d3d2;
	margin-bottom: 30px;
	font: bold 14px/18px "Trebuchet MS", sans-serif;
	text-transform: uppercase;
	padding: 20px 0 14px;
}

section.promo .promo a {
	color: #7e4f25;
}

section.promo .promo span {
	font-weight: normal;
	text-transform: none;
}

section.promo .promo a.photo {
	display: block;
	position: relative;
	margin-bottom: 12px;
}

section.promo .promo a.photo img {
	width: 100%;
}

section.promo .promo a.photo i {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: url(../img/border-curve-top-white.png) left top repeat-x;
}

section.promo .promo a.photo i i {
	background: url(../img/border-curve-bottom-white.png) left bottom repeat-x;
}

section.promo .promo a.photo .pointer2 {
	background: url(../img/promo.png) top left no-repeat;
	display: block;
	width: 83px;
	height: 103px;
	position: absolute;
	top: -20px;
	right: 3px;
}

section.promo .promo a.photo:hover .pointer2 {
	top: -24px;
}

section.promo .new a.photo .pointer2 {
	background-image: url(../img/new.png);
}

section.promo .leader a.photo .pointer2 {
	background-image: url(../img/leader.png);
}

section.promo .sale a.photo .pointer2 {
	background-image: url(../img/sale.png);
}

.content {
	margin-bottom: 60px;
}

.maintext {
	margin-bottom: 45px;
}

.maintext .h1 {
	margin-bottom: 20px;
}

.text img.left {
	margin: 0 10px 5px 0;
	float: left;
}

.text img.right {
	margin: 0 0 5px 10px;
	float: right;
}

.collection-3 {
	display: grid;
	width: calc(100% + 20px);
	grid-template-columns: 30% 30% 30%;
	grid-template-rows: 200px 200px 200px;
	grid-column-gap: 30px;
	grid-row-gap: 30px;
}

.collection-3 .item {
	display: flex;
	justify-content: center;
	width: 100%;
}

.collection-3 .item img {
	width: 100%;
	height: 100%;
}

.collection-3 .item span {
	display: inline-flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    line-height: 2;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    background-color: #fff;
    color: rgb(78, 77, 77);
    height: 50px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 50px;
    width: 12vw;
    position: absolute;
    top: calc(50% - 25px);
    left: calc(50% - 85px);
    width: 170px;
    opacity: 0.8;
    transition: all 0.3s ease-in-out;
    box-sizing: border-box;
}

.collection-3 .item span:hover {
	border: 1px solid black;
	opacity: 1;
	font-weight: 900;
	box-shadow: 1px 3px 3px black;
}

.collection-3 .item:first-child {
	grid-column: 1 / 3;
	grid-row: 1 / 2;
}

.collection-3 .item:first-child span {
	color: red;
}

.collection-3 .item:nth-child(2) {
	grid-column: 3 / 4;
	grid-row: 1 / 3;
}

/* .collection-3 .item:nth-child(2) span {
	top: 44%;
	left: 18.5%;
} */

.collection-3 .item:nth-child(3) {
	grid-column: 1 / 2;
	grid-row: 2 / 3;
}

.collection-3 .item:nth-child(4) {
	grid-column: 2 / 3;
	grid-row: 2 / 3;
}


.collection-3 .item:nth-child(5) {
	grid-column: 1 / 2;
	grid-row: 3 / 4;
}

.collection-3 .item:nth-child(6) {
	grid-column: 2 / 3;
	grid-row: 3 / 4;
}

.collection-3 .item:nth-child(7) {
	grid-column: 3 / 4;
	grid-row: 3 / 4;
}


.collection-3 .with_wave {
	position: relative;
}

.collection-3 .with_wave:after,
.collection-3 .with_wave:before {
	content: "";
	background-repeat: repeat-x;
	width: 100%;
	height: 9px;
	position: absolute;
	left: 0;
}

.collection-3 .with_wave:after {
	bottom: 0;
	background-image: url(../img/border-curve-bottom-white.png);
}

.collection-3 .with_wave:before {
	top: 0;
	background-image: url(../img/border-curve-top-white.png);
}

 .block-4 {
	margin-bottom: 30px;
} 

.block-4 h2 {
	font-size: 24px !important;
	margin-left: 30px;
}

.block-4 h2::after {
	margin: 20px 0 0 0;
}

.block-4--h-content h2:after {
	display: block;
	content: "";
	background-color: rgb(198, 213, 64);
	width: 40px;
	height: 5px;
	margin-top: 10px;
}

.block-4--h-content h2 span {
	font-weight: normal;
}

.timetable {
	/* width: calc(100% - 35px); */
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	height: 275px;
	padding-top: 40px;
	background-color: #F0F0F0;
	padding-left: 30px;
	font-size: 16px;
	font-weight: bold;
	line-height: 1.5;
	height: auto;
	margin-bottom: 50px;
}

.timetable>div:first-child {
	margin-right: 140px;
	margin-bottom: 50px;
	line-height: 1.3;
}

.timetable span {
	font-size: 16px;
}

.timetable b {
	font-size: 24px;
}

.timetable a {
	display: inline-block;
	color: black;
	border-bottom: 1px solid black;
	margin-top: 15px;
}

.timetable a:hover {
	border-bottom: none !important;
	text-decoration: none !important;
}

.timetable .item {
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #C1D628;
	margin-right: 6px;
}

.timetable a {
	text-decoration: none;
}

.timetable>div:nth-child(2) {
	line-height: 2.05;
	margin-bottom: 30px;
}


.timetable .item:nth-child(6),
.timetable .item:nth-child(7) {
	background: #F0F0F0;
	border: 3px solid #C1D628;
	;
}

.timetable__items {
	flex-wrap: nowrap;
}

/* .districts {
	display: grid;
	width: calc(100% - 5px);
	grid-template-columns: 30% 30% 30%;
	grid-template-rows: 220px 220px;
	grid-gap: 31px;
	position: relative;
	margin-bottom: 60px;
} */

.districts {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-left: -30px;
}

.districts .item {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	flex-basis: 25%;
	flex-grow: 1;
	min-width: 230px;
	margin-left: 30px;
	margin-bottom: 30px;
	height: 230px;
	background: #F0F0F0;
	padding-left: 30px;
	line-height: 1.6;
}

.districts .item h3 {
	font-size: 16px;
	text-transform: uppercase;
	font-weight: bold;
	margin: 40px 0 10px 0;
}

.districts .item span {
	display: block;
	font-size: 15px;
}

 .collection-4 {
	display: grid;
	grid-template-columns: 48% 48%;
	grid-template-rows: 205px 205px;
	grid-gap: 25px;
	justify-items: center;
	width: calc(100% - 10px);
} 

.collection-4 .item {
	display: flex;
	justify-content: center;
	align-items: center;
}

.collection-4 .item img {
	width: 100%;
	height: 205px;
	border: 1px solid blue;
}

.collection-4 .item span {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	line-height: 2;
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
	background-color: #fff;
	color: rgb(78, 77, 77);
	height: 50px;
	padding-left: 25px;
	padding-right: 25px;
	border-radius: 50px;
	width: 12vw;
	position: absolute;
	max-width: 170px;
	opacity: 0.8;
	top: 37%;
	left: 30%;
}

.collection-4 .item span:hover {
	border: 1px solid black;
	opacity: 1;
	font-weight: 900;
	box-shadow: 1px 3px 3px black;
}

.collection-4 .slick-initialized .item {
	margin-bottom: 60px;
}

.block-5 {
	width: 100%; 
	padding: 0 45px 60px 30px;
	background: #F0F0F0;
	margin-top: 40px;
	line-height: 1.714;
}

.block-5 p {
	line-height: 1.714;
	font-size: 14px;
	margin-top: 25px;
	margin-bottom: 0px;
}

.block-5 h2 {
	font-size: 24px;
	padding-top: 40px;
	text-transform: none;
	font-family: "Lato", sans-serif !important;
	font-weight: bold;
}

.block-5 h2 span {
	font-weight: normal;
}

.block-5 h2:after {
	display: block;
	content: "";
	background-color: rgb(198, 213, 64);
	margin-top: 15px;
	margin-bottom: 15px;
	width: 40px;
	height: 5px;
}

.block-5 ul {
	padding-left: 15px;
}

.block-5 ul li {
	font-weight: bold;
}

.collection-5 {
	display: grid;
	/* width: calc(100% - 60px); */
	width: 570px;
	grid-template-columns: 47.5% 47.5%;
	grid-template-rows: 205px 205px;
	grid-gap: 30px;
	justify-items: center;
	margin-left: 15px;
	margin-bottom: 60px;
}

.collection-5 .item {
	display: flex;
	justify-content: center;
	align-items: center;
}

.collection-5 .item img {
	width: 100%;
	height: 205px;
}

.about {
	width: 30vh;
	height: auto;  
	position: absolute;
	right: 5px;
	display: block; 
	margin-right: 45px;
	padding-left: 20px;
	padding-top: 0 !important;
	overflow-y: hidden;
}

.about h3 {
	font-size: 14px;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 5px !important;
}

.about span {
	line-height: 1.571;
}

.about ul {
	padding-left: 0 !important;
	line-height: 1.2;
}

.block-6 .links:hover {
	text-decoration: none;
	color: rgb(126, 79, 37);
}

.about ul li {
	list-style: none;
}

.block-6 {
	margin-bottom: 120px;
}

.block-6 h2 {
	display: block;
	margin-left: 15px;
	font-size: 24px;
	text-transform: none;
	font-family: "Lato", sans-serif !important;
	font-weight: bold;
}

.block-6 h2:after {
	display: block;
	content: "";
	background-color: rgb(198, 213, 64);
	margin-top: 15px;
	margin-bottom: 15px;
	width: 40px;
	height: 5px;
}

.block-6 h2 span {
	font-weight: normal;
}

.block-6 .links {
	margin-left: 15px;
}

.example-sofa {
	width: 580px;
	border: 10px solid #f0f0f0;
	margin-left: 15px;
}

.example-sofa img {
	width: 100%;
}

.block-6::after {
	display: block;
	content: "";
	position: absolute;
	background-color: #D8D4D3;
	width: calc(100% - 90px);
	height: 1px;
	margin-top: 60px;
	left: 30px;
}

.catalog .sepline {
	margin-bottom: 30px;
}

.catalog a.photo {
	display: block;
	position: relative;
	margin-bottom: 40px;
}

.catalog a.photo img {
	width: 100%;
}

.catalog a.photo i {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: url(../img/border-curve-top-white.png) left top repeat-x;
}

.catalog a.photo i i {
	background: url(../img/border-curve-bottom-white.png) left bottom repeat-x;
}

.catalog .item .sepline {
	margin: 0 0 15px 0;
	position: relative;
	top: -11px;
}

.catalog .item .btn {
	text-transform: uppercase;
	padding-left: 15px;
	padding-right: 15px;
	position: relative;
	top: -39px;
}

.catalog .photo .pointer2 {
	background-position: top left;
	background-repeat: no-repeat;
	display: block;
	width: 83px;
	height: 103px;
	position: absolute;
	top: -20px;
	right: 3px;
}

.catalog .photo:hover .pointer2 {
	top: -24px;
}

.catalog .promo .pointer2 {
	background-image: url(../img/promo.png);
}

.catalog .new .pointer2 {
	background-image: url(../img/new.png);
}

.catalog .leader .pointer2 {
	background-image: url(../img/leader.png);
}

.catalog .sale .pointer2 {
	background-image: url(../img/sale.png);
}

.collection {
	margin-top: 10px;
}

.collection .info {
	background: #f2f1f1;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: -5px;
}

.collection .info h2 {
	margin-top: 60px;
}

.collection .info h2:first-child {
	margin-top: 10px;
}

.collection .info p {
	margin-bottom: 20px;
}

.collection .items .item {
	color: #7e4f25;
	margin-bottom: 40px;
}

.collection .items .item strong {
	text-transform: uppercase;
}

.collection .photo {
	display: block;
	position: relative;
	margin-bottom: 10px;
}

.collection .photo img {
	width: 100%;
}

.collection .photo i {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: url(../img/border-curve-top-white.png) left top repeat-x;
}

.collection .photo i i {
	background: url(../img/border-curve-bottom-white.png) left bottom repeat-x;
}

.collection .photo .pointer2 {
	background-position: top left;
	background-repeat: no-repeat;
	display: block;
	width: 83px;
	height: 103px;
	position: absolute;
	top: -20px;
	right: 3px;
}

.collection .photo:hover .pointer2 {
	top: -24px;
}

.collection .promocia .pointer2 {
	background-image: url(../img/promo.png);
}

.collection .new .pointer2 {
	background-image: url(../img/new.png);
}

.collection .leader .pointer2 {
	background-image: url(../img/leader.png);
}

.collection .sale .pointer2 {
	background-image: url(../img/sale.png);
}

.collection .sepline {
	margin: 5px 0 0;
}

.collection .sofa img {
	margin: 20px auto 60px;
}

.companion {
	border: 1px solid #d6d3d2;
	-webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.11);
	-moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.11);
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.11);
	margin: 20px 0 60px;
	padding: 20px 10px 10px 10px;
}

.companion .item {
	float: left;
	padding-right: 8px;
	padding-left: 7px;
	margin-bottom: 15px !important;
}


.news {
	margin-bottom: 45px;
}

.news .sepline {
	margin-bottom: 30px;
}

.news .item {
	background: #fff url(../img/border-curve-bottom-white.png) left bottom repeat-x;
	display: block;
	padding-bottom: 15px;
	color: #4e4d4d;
	font: 16px/18px "Trebuchet MS", sans-serif;
	margin-bottom: 15px;
	position: relative;
}

.news .item img {
	width: 100%;
	margin-bottom: 15px;
}

.news .item,
.news .item img {
	-moz-border-radius-topleft: 10px;
	-webkit-border-top-left-radius: 10px;
	border-top-left-radius: 10px;
	-moz-border-radius-topright: 10px;
	-webkit-border-top-right-radius: 10px;
	border-top-right-radius: 10px;
}

.news .item .title {
	display: block;
	padding: 0 10px 0 60px;
	margin-bottom: 5px;
	height: 38px;
	overflow: hidden;
	text-overflow: ellipsis;
	font-weight: bold;
}

.news .item .more {
	font-style: italic;
	color: #b8c547;
	text-align: right;
	margin: 0 10px;
	font-size: 12px;
	display: block;
}

.news .item .date {
	display: block;
	position: absolute;
	top: 51%;
	left: 10px;
	text-align: center;
	padding: 3px;
	background: url(../img/news-border.png) repeat;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.news .item .date .wrap {
	background: #fff;
	display: block;
	padding: 3px;
}

.news .item .date .wrap span {
	display: block;
	line-height: 14px;
	font-size: 14px;
	color: #939291;
}

.news .item .date .wrap span:first-child {
	font-size: 18px;
}

.news .item .date .wrap span:last-child {
	font-size: 12px;
}

.advantages .advantage {
	margin-top: 15px;
}

.advantages .advantage img {
	width: 100%;
}

.partners {
	background: #fff url(../img/shadow-top.png) top center no-repeat;
	background-size: 100%;
	padding: 35px 0;
}

.partners .h1 {
	padding-left: 8%;
}

.partners .slide {
	margin-top: 20px;
	height: 56px;
	overflow: hidden;
}

.partners .slide ul {
	margin: 0;
	padding: 0;
}

.partners .slide li {
	margin: 0 12px;
	padding: 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #dedede;
}

.partners .slide li a {
	display: block;
}

.partners .slide li a img {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.partners-b ul {
	margin: 0;
	padding: 0;
	text-align: center;
}

.partners-b li {
	margin: 0 12px 20px;
	padding: 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #dedede;
}

.partners-b li a {
	display: block;
}

.partners-b li a img {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.headline {
	margin-bottom: 40px;
}

.headline .seplinedouble {
	margin: 0 0 20px;
}

.officehours {
	margin-bottom: 25px;
}

.officehours .day-of-week {
	color: #b9a693;
	font-size: 16px;
	letter-spacing: 0.02em;
}

.officehours>div {
	margin-bottom: 25px;
}

.officehours b {
	text-transform: uppercase;
}

.officehours .days {
	margin: -2px 0 8px;
}

.officehours .days span {
	background: #bbc744;
	margin-right: 6px;
	padding-left: 7px;
	padding-right: 7px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;


}

.officehours .days span.dayoff {
	padding-left: 6px;
	padding-right: 6px;
	color: #bbc744;
	border-color: #bbc744;
	background: #fff;
}

.worktime {
	float: right;
}

.filials {
	line-height: 24px;
}

.filials span {
	font-weight: bold;
	text-transform: uppercase;
}

.filials div {
	margin-bottom: 60px;
}

input.extra {
	display: none !important;
}

.topbar {
	position: fixed;
	display: flex;
	padding: 10px 20px;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #ffffff;
	box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.3);
	height: 60px;
	align-items: center;
	justify-content: space-between;
}

.topbar .phone {
	font-size: 13px;
	color: rgb(78, 77, 77);
	line-height: 1.385;
	font-weight: 700;
}

.hamburger {
	position: relative;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.hamburger .line {
	width: 20px;
	height: 2px;
	background-color: #7e4f25;
	display: block;
	margin: 4px auto;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.hamburger:hover {
	cursor: pointer;
}


.hamburger.is-active {
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

.hamburger:before {
	content: "";
	position: absolute;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 30px;
	height: 30px;
	border: 2px solid transparent;
	top: calc(50% - 15px);
	left: calc(50% - 15px);
	border-radius: 100%;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.hamburger.is-active:before {
	border: 2px solid #7e4f25;
}

.hamburger.is-active .line {
	width: 18px;
}

.hamburger.is-active .line:nth-child(2) {
	opacity: 0;
}

.hamburger.is-active .line:nth-child(1) {
	-webkit-transform: translateY(6px);
	-ms-transform: translateY(6px);
	-o-transform: translateY(6px);
	transform: translateY(6px);
}

.hamburger.is-active .line:nth-child(3) {
	-webkit-transform: translateY(-6px) rotate(90deg);
	-ms-transform: translateY(-6px) rotate(90deg);
	-o-transform: translateY(-6px) rotate(90deg);
	transform: translateY(-6px) rotate(90deg);
}
/** ==========================================================================
	End Components Section
	---
	Start Layouts
========================================================================== */
#body {
	max-width: 1280px;
	margin: 0 auto;
	padding-top: 60px;
	background: #f0f0f0;
	font-family: 'Lato', sans-serif;
	-webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.21);
	-moz-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.21);
	box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.21);
	min-width: 320px;
	position: relative;
	display: flex;
}
#body.open {
	overflow: hidden;
    position: fixed;
}

aside {
	padding: 20px 15px;
	background-color: #F0F0F0;
	box-sizing: border-box;
	display: none;
}

aside .aside-info,
#slider .aside-info {
	padding: 0 20px;
}

#slider .aside-info {
	position: absolute;
	top: calc(50% - 220px);
	max-width: 320px;
	margin: 0 auto;
    left: 0;
    right: 0;
}

aside .aside-contacts,
#slider .aside-contacts {
	display: block;
	text-align: center;
	color: #4D4C4C;
	font-size: 14px;
	line-height: 1.2;
	margin: 0 auto;
	padding: 10px 0;
	border-top: 1px solid #D8D4D3;
	border-bottom: 1px solid #D8D4D3;
	max-width: 240px;
}
#slider .aside-contacts {
	border-bottom: none;
}

aside .aside-contacts span:first-child,
#slider .aside-contacts span:first-child{
	display: block;
	margin-top: 10px;
}

aside .phone,
#slider .phone{
	display: block;
	margin-top: 5px;
	font-size: 16px;
	font-weight: 900;
}

aside .phone b,
#slider .phone b {
	font-size: 20px;
	font-weight: bolder;
}

aside .logo,
#slider .logo {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
	margin: 20px auto 10px;
	text-align: center;
	color: #7e4f25;
	text-decoration: none;
	font-size: 14px;
}

aside .logo span {
	font-style: italic;
	font-size: 16px;
}

aside .logo img,
#slider .logo img {
	margin-bottom: 5px;
	max-width: 100%;
	height: auto;
	display: block;
}


aside nav {
	margin-left: -15px;
	margin-right: -15px;
}

aside nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
	margin-bottom: 35px;
}

aside nav li {
	font: italic 18px/38px "Lato", sans-serif;
	font-weight: bold;
	text-align: center;
}

aside nav li a {
	color: #7e4f25;
	display: block;
	padding: 7px 0 7px;
	position: relative;
	transition: all 0.3s ease-in-out;
	text-decoration: none;
}

aside nav li a:hover {
	opacity: 0.5;
	color: #7e4f25;
}

aside nav li a.active {
	color: #fff;
	background: rgba(193, 214, 43, 1);
	background: -moz-linear-gradient(left, rgba(193, 214, 43, 1) 0%, rgba(169, 188, 12, 1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(193, 214, 43, 1)), color-stop(100%, rgba(169, 188, 12, 1)));
	background: -webkit-linear-gradient(left, rgba(193, 214, 43, 1) 0%, rgba(169, 188, 12, 1) 100%);
	background: -o-linear-gradient(left, rgba(193, 214, 43, 1) 0%, rgba(169, 188, 12, 1) 100%);
	background: -ms-linear-gradient(left, rgba(193, 214, 43, 1) 0%, rgba(169, 188, 12, 1) 100%);
	background: linear-gradient(to right, rgba(193, 214, 43, 1) 0%, rgba(169, 188, 12, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c1d62b', endColorstr='#a9bc0c', GradientType=1);
	text-decoration: none;
	position: relative;
}

aside .socials li:first-child {
	margin-left: 20px;
}

aside .socials li:last-child {
	margin-left: 30px;
	margin-right: 20px;
}

.right-column {
	background-color: white;
	width: 100%;
	padding-right: 20px;
	padding-left: 20px;
}

footer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	padding: 30px 0 15px;
}

footer>div {
	display: flex;
	margin-bottom: 15px;
	width: 100%;
	justify-content: center;
}

footer>div:last-child {
	margin-top: 10px;
	font-size: 12px;
	color: rgb(126, 79, 37);
	line-height: 2;
}

footer .socials {
	justify-content: space-between;
	width: 150px;
	padding: 0;
}

footer .socials li {
	margin-right: 0;
}

.block-7 {
	font-size: 14px;
	line-height: 1.571;
}


/** ==========================================================================
	End Layouts
========================================================================== */

#slider .ellipse {
	display: none;
}

@media only screen and (max-width: 361px) {
	.adaptive_span {
		width: 0.5vw;
	}

	.collection-4 {
		grid-gap: 20px;
	}

	.collection-4 .item span {
		left: 17%;
	}


	
}
@media only screen and (max-width: 699px) {
	.block-1 {
		width: 100%;
		margin-left: 0;
	}
  
    .top-list {
        padding-left: 0;
	}
	
	.block-2,
	.block-7 {
		margin-left: 0;
		margin-right: 0;
	}

	.block-5 {
		width: 100%; 
		padding: 0 45px 60px 30px;
		background: #F0F0F0;
		margin-top: 40px;
		line-height: 1.714;
		margin-left: 0;
	}
}

@media only screen and (min-width: 500px) {

	.collection-1,
	.collection-2 {
		margin-left: -12px;
		margin-right: -12px;
	}

	.collection-1 .item,
	.collection-2 .item {
		width: calc(50% - 24px);
		margin: 0 12px 20px;
	}

	.collection-1 .item a {
		height: 200px;
	}
}

@media only screen and (max-width: 500px) {
	.timetable>div:first-child {
		margin-right: 0px; 
	}

	.districts .item {
		align-items: center;
		padding-left: 0;
	}
}


@media only screen and (min-width: 600px) {
	#slider .aside-info {
		top: 1vw;
	}
}

/* ==========================================================================
	 Helper classes
	 ========================================================================== */

/*
   * Hide visually and from screen readers
   */

   .hidden {
	display: none !important;
}

/*
  * Hide only visually, but have it available for screen readers:
  * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
  *
  * 1. For long content, line feeds are not interpreted as spaces and small width
  *    causes content to wrap 1 word per line:
  *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
  */

.sr-only {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	white-space: nowrap;
	width: 1px;
	/* 1 */
}

/*
  * Extends the .sr-only class to allow the element
  * to be focusable when navigated to via the keyboard:
  * https://www.drupal.org/node/897638
  */

.sr-only.focusable:active,
.sr-only.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	white-space: inherit;
	width: auto;
}

/*
  * Hide visually and from screen readers, but maintain layout
  */

.invisible {
	visibility: hidden;
}

/*
  * Clearfix: contain floats
  *
  * For modern browsers
  * 1. The space content is one way to avoid an Opera bug when the
  *    `contenteditable` attribute is included anywhere else in the document.
  *    Otherwise it causes space to appear at the top and bottom of elements
  *    that receive the `clearfix` class.
  * 2. The use of `table` rather than `block` is only necessary if using
  *    `:before` to contain the top-margins of child elements.
  */

.clearfix:before,
.clearfix:after {
	content: " ";
	/* 1 */
	display: table;
	/* 2 */
}

.clearfix:after {
	clear: both;
}

/* ==========================================================================
	 EXAMPLE Media Queries for Responsive Design.
	 These examples override the primary ('mobile first') styles.
	 Modify as content requires.
	 ========================================================================== */

@media only screen and (min-width: 35em) {
	/* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
	/* Style adjustments for high resolution devices */
}

/* ==========================================================================
	 Print styles.
	 Inlined to avoid the additional HTTP request:
	 https://www.phpied.com/delay-loading-your-print-css/
	 ========================================================================== */

@media print {

	*,
	*:before,
	*:after {
		background: transparent !important;
		color: #000 !important;
		/* Black prints faster */
		-webkit-box-shadow: none !important;
		box-shadow: none !important;
		text-shadow: none !important;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]:after {
		content: " ("attr(href) ")";
	}

	abbr[title]:after {
		content: " ("attr(title) ")";
	}

	/*
	   * Don't show links that are fragment identifiers,
	   * or use the `javascript:` pseudo protocol
	   */
	a[href^="#"]:after,
	a[href^="javascript:"]:after {
		content: "";
	}

	pre {
		white-space: pre-wrap !important;
	}

	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	/*
	   * Printing Tables:
	   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
	   */
	thead {
		display: table-header-group;
	}

	tr,
	img {
		page-break-inside: avoid;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}
}

body {
	background: #e0e2e4 url(../img/bg.png) repeat;
	background-attachment: fixed, fixed;
	height: 100%;
	font-family: Lato, sans-serif;
}

p {
	color: #4e4d4d;
	/* line-height: 18px; */
}

div {
	box-sizing: border-box;
}